altair==5.0.1
ansi2html==1.8.0
appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
basemap==1.3.6
basemap-data==1.3.2
basemap-data-hires==1.3.2
blinker==1.6.2
brotlipy==0.7.0
cachetools==5.3.1
captum==0.6.0
cftime==1.6.2
clifford==1.4.0
cmake==3.25.0
constantly==15.1.0
cssselect==1.1.0
dash==2.12.1
dash-bootstrap-components==1.4.2
dash-bootstrap-templates==1.0.8
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
et-xmlfile==1.1.0
fonttools==4.25.0
gitdb==4.0.10
GitPython==3.1.32
gunicorn==19.7.1
imageio==2.31.3
inflection==0.5.1
jsonpointer==2.1
lazy_loader==0.3
lit==15.0.7
llvmlite==0.39.1
markdown-it-py==3.0.0
matplotlib==3.6.3
mdurl==0.1.2
mpl-toolkits.clifford==0.0.3
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
netCDF4==1.6.3
numpy==1.23.1
opencv-python==4.7.0.72
openpyxl==3.0.10
pandas==1.5.3
pep8==1.7.1
Pillow==9.5.0
Pillow-SIMD==9.0.0.post1
ply==3.11
protobuf==4.24.0
pyarrow==12.0.1
pyasn1-modules==0.2.8
pycurl==7.45.1
pydeck==0.8.0
PyDispatcher==2.0.5
Pygments==2.16.1
pyls-spyder==0.4.0
Pympler==1.0.1
pyproj==3.4.1
PyQt5-sip==12.11.0
pyshp==2.3.1
pytest==7.1.2
python-lsp-jsonrpc==1.0.0
pytz-deprecation-shim==0.1.0.post0
queuelib==1.5.0
retrying==1.3.4
rich==13.5.2
scikit-image==0.21.0
scipy==1.10.0
semopy==2.3.9
scikit-learn==1.3.1
smmap==5.0.0
sparse==0.14.0
streamlit==1.25.0
streamlit-image-coordinates==0.1.6
streamlit-plotly-events==0.0.6
tenacity==8.2.2
threadpoolctl==3.2.0
tifffile==2023.8.30
torch==2.0.0
torchaudio==2.0.1
trimesh==3.21.5
triton==2.0.0
tzdata==2023.3
tzlocal==4.3.1
validators==0.20.0
webencodings==0.5.1
zennit==0.4.6
zennit-crp==0.6.0
zict==2.1.0